* {
    box-sizing: border-box;
    margin: 0px;
}

#bigContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(Pictures/space-stars-background-illustration_160081-147.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: center;
    
}

#pictureContainer {
    height: 100%;
    width: 100%;
    background-image: url(Pictures/astrologi-horoskop-bluff.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: antiquewhite;
    font-family: 'Sassy Frass', cursive;
    font-size: 60px;
    padding-top: 30px;
}

h2 {
    color: antiquewhite;
    font-family: 'Sassy Frass', cursive;
    font-size: 60px;
}

#date{
    height: 50px;
    font-size: 20px;    
    padding-left: 2em;
    padding-right: 2em;
    color: rebeccapurple;
    border-radius: 20px;
    border: solid; color: rebeccapurple;
}

#containerForButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

button {
    margin-bottom: 20px;
    border-radius: 20px;
    color: rebeccapurple;
    background-color: white ;
    border: solid; color: rebeccapurple;
    height: 50px;
}

#addResult {
    color: antiquewhite;
    font-family: 'Sassy Frass', cursive;
    font-size: 100px;
    border: 0px
}